{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-pic.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is who I am.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I'm currently a student a Toronto Metropolitan University studying Business Management, majoring in Marketing and minoring in Finance.</p>
        <p>I discovered my passion for programming during the datascience bootcamps hosted by my univesity and, since then, I completed courses in html5, CSS, and Python. I'm currently learning C++ and JavaScript to specialize in back-end development.</p>
        <p>Use the contact me page to reach out if you have any questions or if you want to work together!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}