{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1523672557977-2c106afb2278?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sorry! only the admin can access this function. </h1>
            <span class="subheading">Send an email to the admin for more information.</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <hr>

  {% include "footer.html" %}